/basic_assertions.csp
/basic_assertions.json
/file_ClearSM.csp
/file_ClearSM_coreassertions.csp
/file_functions.csp
/file_functions_coreassertions.csp
/file_interfaces.csp
/file_interfaces_coreassertions.csp
/instantiations.csp
/file_types.csp
/file_types_coreassertions.csp
/file_operations.csp
/file_operations_coreassertions.csp
