/CFootBot.csp
/CFootBot_coreassertions.csp
/Movement.csp
/Movement_coreassertions.csp
/SMovement.csp
/SMovement_coreassertions.csp
/core_defs.csp
/file_SimFW.csp
/file_SimFW_defs.csp
/function_toolkit_defs.csp
/move.csp
/move_coreassertions.csp
/relation_toolkit_defs.csp
/robochart_defs.csp
/sequence_toolkit_defs.csp
/set_toolkit_defs.csp
/timed_definitions.csp
/core_timed_defs.csp
/state_defs.csp
/state_timed_defs.csp
